body {
    background-color: #f4f4f4;
    color: #967f71;
    min-height: 100vh;
    margin: 20px;
}

h1,
h2,
h3 {
    color: #967f71;
    text-align: center;
}

.title {
    color: #7a665a;
    text-align: center;
    text-shadow: 4px 4px 6px #ccc;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    justify-content: center;
    gap: 30px;
}

.gallery .card {
    transition: .1s linear;
}

.gallery .card:hover {
    transform: scale(1.1);
    z-index: 10;
}

p {
    font-size: 12px;
}
body {
    background-color: #f4f4f4;
    color: #967f71;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }
  main {
    flex: 1 0 auto;
  }
  
  h1,
  h2,
  h3 {
    color: #967f71;
  }
  
  .container {
    padding: 40px;
    padding-right: 0;
  }
  

  
  .gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    justify-content: center;
    gap: 30px;
  }
  
  .gallery .card {
    transition: 0.1s linear;
  }
  
  .gallery .card:hover {
    transform: scale(1.1);
    z-index: 10;
  }
  
  p {
    font-size: 20px;
    text-align: center;
  }
  
  .detail__img {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 500px;
    background-color: #f4f4f4;
    overflow: hidden;
  }
  
  .detail__img::after {
    content: "";
    background-image: linear-gradient(transparent 60%, #1f1f1f);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 5;
  }
  
  img {
    width: 100%;
    height: 500px;
    object-fit: contain;
    object-position: center;
  }
  
  .detail__name {
    position: absolute;
    z-index: 5;
    top: 400px;
  }
  
  .detail__container {
    margin-top: 500px;
  }
  .page-footer {
    background-color: #f4f4f4;
    padding: 10px;
    text-align: center;
    margin-top: auto; 
    color: #967f71;
}
.nav-extended {
    background-color: #f4f4f4;
}
.active {
    color: #967f71;
}
.logo {
    max-width: 200px;
    max-height: 90px;
    align-content: center;
    margin: 0 auto
}
.rating {
    display: inline-block;
    position: relative;
}

.rating input {
    display: none;
}

.rating label:before {
    content: "\f005";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    padding: 2px;
    font-size: 24px;
    display: inline-block;
    margin: 0;
}

.rating input:checked ~ label:before {
    content: "\f005";
    color: #ffab00; /* Change the color to represent a selected star */
}

.rating label {
    cursor: pointer;
}

.rating label:hover:before {
    content: "\f005";
    color: #ffab00; /* Change the color on hover to indicate the potential selected star */
}
.review-form {
    padding: 10px;
    margin: 20px;
}
.card-header {
    color: #ac998e;
}
.card-header-title {
    font-size: 20px;
    text-align: center;
}
.title-img {
    color: #ac998e;
    text-shadow: 2px 2px 2px #ccc;
    text-align: center;
}
.buttons {
    text-align: center;
    padding: 4px;
}
h4 {
    font-size: 60px;
}
h5 {
    text-align: center;
    color: #7a665a;
    font-size: 60px;
}
.table {
    text-align: center;
}
.navbar-item {
    color: #4db6ac;
    padding: 20px;
}
.navbar-end {
    text-align: center;
}
.welcome {
    font-family: 'Amatic SC', cursive;
    font-size: 70px;
    color: #7a665a;
}
.home {
    font-family: 'Amatic SC', cursive;
    font-size: 35px;
}
.rates {
    text-align: left;
    font-size: 15px;
}