{% extends 'base.html' %} {% block content %}
<div class="divider"></div>
  <div class="section">
    <h5>About Me!</h5>
    <p>Hello I’m Symantha . I’m a 41 year old single mother to 3 beautiful children, 2 boys and 1 girl.
        I decided to become my own boss , make my own hours and finally be able to spend more quality time with my children. I’m a certified lash artist who’s been giving top of the line luxury lash extensions since 2018. I use some of the best products from some of the top lash suppliers around the world. All my extensions are mink and give you that soft natural feel and never anything hard or plastic looking . I fell in love with lashes after I received my first set back in 2016 and I’ve been hooked on the beauty of it ever since . I love seeing and hearing the reaction of my clients after they open their eyes to a set of beautiful new lashes.</p>
  </div>
  <div class="divider"></div>
  <div class="section">
    <h5>Buisness Hours</h5>
    <p><table class="table">
        <tbody class="table">
          <tr>
            <td>Monday</td>
            <td>8:30 AM - 7 PM</td>
          </tr>
          <tr>
            <td>Tuesday</td>
            <td>8:30 AM - 7 PM</td>
          </tr>
          <tr>
            <td>Wednesday</td>
            <td>8:30 AM - 7 PM</td>
          </tr>
          <tr>
            <td>Thursday</td>
            <td>8:30 AM - 7 PM</td>
          </tr>
          <tr>
            <td>Friday</td>
            <td>8:30 AM - 4 PM</td>
          </tr>
          <tr>
            <td>Saturday</td>
            <td>9 AM - 2 PM</td>
          </tr>
          <tr>
            <td class="sunday">Sunday</td>
            <td class="sunday">Closed</td>
          </tr>
        </tbody>
      </table></p>
  </div>
  <div class="divider"></div>
  <div class="section">
    <h5>Booking Policy</h5>
    <p>A $25 non-refundable deposit is required uppon booking!</p>
    <p>You must have clean lashes! There can't be any makeup or mascara on, the day of your appointment.</p>
    <p>Please be on time to your appointment, if you are more than 15 mintues late to your appointment a late fee of $10 will be applied to your total.</p>
    <p>By booking with me you are agreeing to these terms.</p>
  </div>
  <div class="divider"></div>
  <div class="section">
    <h5>Cancellation Policy</h5>
    <p>A 25% cancellation fee for all no shows or cancellations not made within 24hrs of the scheduled appointment will be charged.</p>
  </div>
  
{% endblock %}

