{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="{% static 'styles/main.css' %}" />
        <script src="{% static 'scripts/main.js' %}" defer></script>
        <title>booking-app - {% block title %}{% endblock %}</title> 
    </head>
    <body >
        <nav class="nav-extended">
            <div class="nav-wrapper">
              <a href="/" class="brand-logo">
                <img class="logo" src="https://i.ibb.co/82yB118/ashed.png" alt="ashed" >
              </a>
            </div> 
            <div class="nav-content">
              <ul class="tabs tabs-transparent">
                <li class="tab"><a class="active" href="/about" style="color: #976f71;">About</a></li>
                <li class="tab"><a class="active" href="/services" style="color: #976f71;">Services</a></li>
                <li class="tab"><a class="active" href="/reviews" style="color: #976f71;">Reviews</a></li>
              </ul>
            </div>
          </nav>
          
              
            {% block content %}{% endblock %}
  </body>
  <footer class="page-footer">
      <div class="container">
      © 2018 Copyright By Lashed By Sym!
      </div>
  </footer>
</html>