{% extends 'base.html' %} {% block content %}
<h1 class="title pt-5">Are you sure you want to Delete {{aservice.name}}?</h1>
<form method="post">
    {% csrf_token %}
    <div class="buttons">
    <!-- confirm artist delete -->
        <input class="waves-effect green lighten-1 btn" type="submit" value="Confirm" />
        <!-- Redirect back to detail on cancel -->
        <a class="waves-effect red darken-3 btn" href="{% url 'service_detail' service.pk %}">Cancel</a>
    </div>
</form>
{% endblock %}