{% extends 'base.html' %}

{% comment %} for head title tags and helping us with SEO {% endcomment %}
{% block title %}Services{% endblock  %}

{% block content %}

<h1 class="title pt-5">Available Services</h1>
<div>
  <a class="waves-effect waves-light btn" href="{% url 'service_create' %}">Add Service</a>
</div>
<div class="gallery">
  {% for service in services %}
  <a href="{% url 'service_detail' service.pk %}">
    <div class="card">
      <div class="card-img">
        <div class="card-header">
          <p class="card-header-title">{{service.name}}</p>
        </div>
        <figure class="image is-square">
          <img src="{{service.img}}" alt="{{service.name}}" />
        </figure>
      </div>
    </div>
  </a>
  <article class="message">
    <div class="message-header">
      <p>No longer available</p>
    </div>
  </article>
  {% endfor %}
</div>
{% endblock %}